<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1 id="fr">Face Recognition</h1>
        <a href="{% url 'login' %}">
            <button class="button1">LOG IN</button>
        </a>
        <a href="{% url 'signup' %}">
            <button class="button">GET STARTED</button>
        </a>
    </div>
</body>
</html>